.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.centerIMG {
  width: 55%;
  margin-bottom: 5%;
}

.header-otp {
  color: #4a4b4d;
  font-size: 25px;
  text-align: center;
}

.header-otp-label {
  color: #7c7d7e;
  font-size: 14px;
  text-align: center;
}

.otp-input {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 25%;
  --background: var(--ion-color-light);
  --padding-start: 10px;
  text-align: center;
}
